<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        
    </script>
    <style>
        body {
            background-color: #FDE68A;
        }
    </style>
</head>
<body>
    <h1>{{ monsterName }}</h1>
    <p>{{ elementType }}</p>
    <p>Star Levels: {{ stars }}</p>
    <img src="{{ url_for('static', filename='images/' + cardName) }}" alt="{{cardName}}"><br>
    <p>{{creatureType}} / {{cardType}}</p>
    <p>ATK / {{atk}} DEF / {{defense}}</p>
    <a href="{{ url_for('home') }}">Return Home</a>
</body>
</html>
